a {
    font-size: 24px;
    background-color: rgb(67, 67, 252);
    color: white;
    text-decoration: none;
    margin: 5px;
}
a:hover {
    font-style: oblique;
}
p{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
    }   
p:hover {
    font-style: oblique;
    color: azure;
}
h1 {
    font-size: 50px;
    color: white;
    background-color: rgb(47, 47, 248);
}
h1:hover {
    font-style: oblique;
}
h2 {
    color: chocolate;
}
h3 {
    color: azure;
}
h3:hover {
    color: white;
    font-style: italic;
}
img {
    width: 30%;
    float: right;
    margin-right: 10%;
    margin-top: -5%;
}
.serviceimg, .rickeyrat {
    margin-right: 5%;
}
.serviceimg {
    width: 300px;
}
.rickeyrat {
    width: 400px;
    margin-top: 15%;
}
body {
    background-color: rgb(37, 37, 248);
}
.asnout {
    font-size: 30px;
    color: plum;
}
.asnout:hover {
    font-size: 32px;
}
nav {
    background-color: rgb(67, 67, 252);
}
.milk2 {
    width: 250px;
}
ul {
    color: pink;
}
ul:hover {
    color: rgb(226, 153, 165);
    font-style: italic;
}
iframe {
    width:100%;
}